<a href="https://colab.research.google.com/github/jamescp/AulasPython/blob/main/Aula05_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula05 - DataFrames**

In [ ]:
import pandas as pd

In [ ]:
Produtos=[
          {"nome":"Iphone","preço":8000,
           "quantidade":750}, 
          {"nome":"Ipad","preço":10000,
           "quantidade":200},]

In [ ]:
Produtos

[{'nome': 'Iphone', 'preço': 8000, 'quantidade': 750},
 {'nome': 'Ipad', 'preço': 10000, 'quantidade': 200}]

In [ ]:
tabela = pd.DataFrame(Produtos)

In [ ]:
tabela

     nome  preço  quantidade
0  Iphone   8000         750
1    Ipad  10000         200